/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/.phpunit.cache
/.env
/.env.*
!.env.example
/.fleet
/.idea
/.vscode
/.nova
/.zed
npm-debug.log
yarn-error.log
/.cache
composer.lock
!package-lock.json
